<div class="login-container">
    <div class="login-image">
        <img src="https://lh6.googleusercontent.com/proxy/rSXs8ObES6dQrNB7mAVB9HTSHRJIr7b5OmizUDCEFslr8S2k5slw8jA9QhixyjP15q3Ka6HshA0RqzJncRv4rV_B" alt="Login Image">
    </div>
    <div class="login-form">
        <h2>Iniciar sesión</h2>
        <form #formulario="ngForm" (ngSubmit)="login(formulario)">
            <div class="input-group">
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
                <label for="email">Correo electrónico</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
                <label for="password">Contraseña</label>
            </div>
            <button type="submit" class="btn-submit">Iniciar sesión</button>
            <div class="signup-link">
                <p>¿No tienes cuenta? <a href="#">Regístrate aquí</a></p>
            </div>
        </form>
    </div>
</div>