<main>
    <div class="home-titulo">
        <h1>Bienvenido a <span class="title">Workana</span> una empresa que piensa<span class="title"> en tus
                nesecidades</span></h1>
        <p>Descubre a los expertos disponibles para ayudarte en tus proyectos.Contamos con un equipo de profesionales
            altamente capacitados que están listos para brindarte soluciones personalizadas y efectivas para cualquier
            desafío que enfrentes. Ya sea que necesites apoyo en desarrollo web, diseño gráfico, marketing digital o
            cualquier otro ámbito, nuestros expertos tienen la experiencia y el conocimiento para llevar tu proyecto al
            siguiente nivel. No importa el tamaño de tu idea, estamos aquí para ayudarte a hacer la realidad. ¡Conéctate
            con los mejores y lleva tu proyecto al éxito! </p>
    </div>
    <div class="imag-home">
        <img src="../../../assets/imagenes/home.jpg" alt="home">
    </div>
</main>
<ul class="container-home">
    <li>
        <img src="../../../assets/imagenes/electr.jpg" alt="electr">
    </li>

    <li>
        <img src="../../../assets/imagenes/carpi.jpg" alt="carpi">
    </li>

    <li>
        <img src="../../../assets/imagenes/desa.jpg" alt="desa">

    </li>

    <li>
        <img src="../../../assets/imagenes/pint.jpg" alt="pint">

    </li>

    <li>
        <img src="../../../assets/imagenes/meca.jpg" alt="meca">
    </li>

    <li>
        <img src="../../../assets/imagenes/zap.jpg" alt="zap">

    </li>

    <li>
        <img src="../../../assets/imagenes/fot.jpg" alt="fot">
    </li>
</ul>
<section class="hero">
    <div class="text-content">
        <p class="highlight">
            <span>✔ Publicar es gratis </span> <span> ✔ Garantía de satisfacción</span>
            <span> ✔ Pagos protegidos</span>
        </p>
        <h1><span class="highlight"></span> Encuentra expertos en plomería, electricidad, carpintería, pintura,
            jardinería y más, listos para ayudarte cuando lo necesites <span class="highlight"></span></h1>
        <p class="description">
            Con profesionales calificados, podrás solicitar servicios de manera rápida, segura y confiable para tu hogar
            o negocio </p>
    </div>
</section>