/* Estilos generales */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #ebecf1;
}

.logo-icon {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

/* Ocultar menú en móviles */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #03dac6;
  font-weight: 500;
  padding: 12px 18px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #03dac6;
  color: #1e1f26;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 30px;
  height: 3px;
  background-color: #03dac6;
  margin: 5px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ebecf1;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  /* Mostrar menú cuando se activa */
  nav ul.active {
    display: flex;
  }
}
