<nav>
    <a th:href="" class="logo">
        <img src="assets/imagenes/workana.jpg" alt="Logo" class="logo-icon">
        
    </a>
    <ul>
        <li><a routerLink="home" class="fa-solid">Inicio</a></li>
        <li><a routerLink="nosotros" class="fa-solid">Nosotros</a></li>
        <li><a routerLink="servicios" class="fa-solid">Servicios</a></li>
        <li><a routerLink="contacto" class="fa-solid">Contacto</a></li>
        <li><a routerLink="formulario" class="fa-solid">Formulario</a></li>
    </ul>
</nav>
